.app-header {
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
    display: flex;
    height: 80px;
}

.app-header .container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.app-header__logo {
    display: inherit;
    margin: 0;
    padding: 0;
}

.app-header__login-area {
    align-items: center;
    display: flex;
    gap: 100px;
}

.app-header__login-area__username {
    font-weight: 600;
}