.app-button {
    align-items: center;
    background: #007298;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    font-weight: 700;
    gap: 10px;
    justify-content: center;
    padding: 13px 36px;
    text-transform: uppercase;
}

.app-button:hover {
    background-color: #025b78;
}

.app-button:focus {
    background-color: #008ebd;
}

.app-button:active {
    background-color: #0097c9;
}

.app-button--icon {
    padding-left: 20px;
    padding-right: 20px;
}

.app-button--full-width {
    width: 100%;
}

.app-button:disabled {
    background-color: #025b78;
    cursor: default;
}