.app-course-edit-create {
    padding: 100px 0 0;
}

.app-course-edit-create__title {
    align-self: center;
    font-size: 32px;
    line-height: 40px;
    margin: 0 0 36px;
}

.app-course-edit-create__form {
    background-color: #fff;
    border: 1px solid #CFCFCF;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    padding: 46px 150px;
}

.app-course-edit-create__wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.app-course-edit-create__form__form-group {
    display: flex;
    margin: 0 0 34px;
    flex-direction: column;
}

.app-course-edit-create__form__form-group--button-group {
    flex-direction: row;
    gap: 10px;
    justify-content: flex-end;
}

.app-course-edit-create__form__label {
    color: #333E48;  
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
}

.app-course-edit-create__form__input {
    background: #FFFFFF;
    border: 1px solid #CFCFCF;
    border-radius: 4px;
    margin: 0;
    padding: 13px 16px;
}

.app-course-edit-create__form__input:focus,
.app-course-edit-create__form__input:focus-visible {
    outline: none;
}

.app-course-edit-create__form__input.ng-invalid {
    border-color: #FF0000;
}

.app-course-edit-create__form__error {
    color: #FF0000;
}