.app-course {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.app-course__body {
    display: flex;
    gap: 40px;
}

.app-course__body__description {
    flex: 2;
}

.app-course__metadata-column {
    flex: 1
}

.app-course__metadata__items {
    list-style-type: none;
    margin: 0 0 30px 0;
}

.app-course__metadata__actions {
    display: flex;
    gap: 12px;
}