<div [ngClass]="'app-course'">
    <div [ngClass]="'app-course__title'">
        <h2>{{item.title}}</h2>
    </div>
    <div [ngClass]="'app-course__body'">
        <div [ngClass]="'app-course__body__description'">
            <p>{{item.description}}</p>
        </div>
        <div [ngClass]="'app-course__body__metadata'">
            <ul [ngClass]="'app-course__metadata__items'">
                <li><strong>Created:</strong> {{item.creationDate}}</li>
                <li><strong>Duration:</strong> {{item.duration}}</li>
                <li><strong>Authors:</strong> {{item.authors}}</li>
            </ul>
            <div [ngClass]="'app-course__metadata__actions'">
                <app-button>
                    Show course
                </app-button>
                <app-button renderType="icon">
                    <fa-icon [icon]="faTrashCan"></fa-icon>
                </app-button>
                <app-button renderType="icon">
                    <fa-icon [icon]="faPencil"></fa-icon>
                </app-button>
            </div>
        </div>
    </div>
</div>
